@model IEnumerable<BurcuAslan_Events.Models.Tickets>
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("TicketBuy", "Events"))
{
    @Html.AntiForgeryToken()


    <h2>Bilets</h2>

    <p>
        @Html.ActionLink("bilet al", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Ticket id:
            </th>
            <th>
                Etkinlik:
            </th>
            <th>
                Kullanıcı:
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_no)
                </td>

                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Ticket_code }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Ticket_code }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Ticket_code })
                </td>
            </tr>
        }

    </table>
}
