@model IEnumerable<BurcuAslan_Events.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Kullanıcılar Etkinlik Oluşturma Sayfası</h2>

<p>
    @Html.ActionLink("Kullanıcı Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Kullanıcı Adı:
        </th>
        <th>
            Kullanıcı Soyadı:
        </th>
        <th>
            Email:
        </th>
        <th>
            Password:
        </th>
        <th>
            Kullanıcı mı Admin mi:
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Admin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.User_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.User_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.User_id })
            </td>
        </tr>
    }

</table>
